
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h2>Hakkımızda</h2>
<p>Sahra Pastaneleri 1995 yılında kurulmuştur. Pendik ve Kartal ilçelerinde hizmet vermektedir.</p>

